// $blue: 蓝色背景色
@blue: #3190e8;
@bc: #e4e4e4;

// 设置元素宽高
.wh(@width, @height) {
  width: @width;
  height: @height;
}

// 定位上下左右居中
.center {  
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// 定位垂直居中
.ct {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

// 定位左右居中
.cl {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

// 字体大小、颜色
.sc(@size, @color) {
  font-size: @size;
  color: @color;
}

// 字体大小、行高、微软雅黑字体
.font(@size, @line-height, @family: 'Microsoft Yahei'){
  font: @size/@line-height @family;
}

//flex 布局 和 子元素 对齐方式
.fj(@type: space-between) {
  display: flex;
  justify-content: @type;
}

// 1px border 伪元素
.after {
  position: relative;
}

.after::after {
  content: ' ';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #e4e4e4;
  -webkit-transform-origin: left bottom;
  transform-origin: left bottom;
}